.fixed-top{
  left: 15%;
}

.navbar-custom{
  background-color: #f3f3f4;
}

.custom{
  width: 50%;
  border: none;
  background-color: #f3f3f4;
}


input:focus {
  outline: none !important;
  border: none;
  box-shadow: none;
}