<nav class="navbar navbar-expand-sm fixed-top navbar-custom ">
  <div (click)="onClickOutSide($event)">

    <input class="form-control custom" (input)="onNameChange($event.target.value)"
    onClick="this.setSelectionRange(0, this.value.length)" type="text" placeholder="Mã/tên giáo viên">

    <ul *ngIf="focused"
      class="list-users" [ngStyle]="{'display':resultSearchUsers?.length > 0 ? 'block' : 'none' }">
      <li (click)="detailUser(user.Id)" *ngFor="let user of resultSearchUsers">
        <div class="row">
          <div class="col-md-8">
            {{user?.Ten}}
          </div>
          <div class="col-md-4">
            {{user?.Ma}}
          </div>
        </div>
        
      </li>
    </ul>

  </div>
  
</nav>