<div class="table-data">
  <div class="toolbar">

    <select class="form-control with-auto" (change)="onNamChange($event.target.value)">
      <option selected value="">Năm học</option>
      <option *ngFor="let nam of listNam" [value]="nam">{{nam}}</option>
    </select>

    <select class="form-control with-auto" (change)="onKiHocChange($event.target.value)">
      <option selected value="">Kì học</option>
      <option [value]=1>Kì 1</option>
      <option [value]=2>Kì 2</option>
    </select>

    <button (click)="addNewDeTai()"
      class="btn btn-primary my-btn">Thêm đề tài
    </button>
  </div>

  <div class="column">
    <div class="table-container">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>STT</th>
            <th>Mã đề tài</th>
            <th>Tên đề tài</th>
            <th>Loại đề tài</th>
            <th>Cơ quan quản lý</th>
            <th>Số thành viên</th>
            <th>Tình trạng</th>
            <th>Năm học</th>
            <th>Kì học</th>
            <th style="min-width: 100px">Thao tác</th>
          </tr>
        </thead>
        <tbody *ngIf="listDeTai?.length > 0">
          <tr *ngFor="let detai of listDeTai; let i = index;"
           style="cursor: pointer;">
            <td (click)="viewdetai(detai?.Id)">{{pageNumber * pageSize + (i + 1) }}</td>
            <td (click)="viewdetai(detai?.Id)">{{detai?.Ma}}</td>
            <td (click)="viewdetai(detai?.Id)">{{detai?.Ten}}</td>
            <td (click)="viewdetai(detai?.Id)">{{detai?.LoaiDeTai.Ten}}</td>
            <td (click)="viewdetai(detai?.Id)">{{detai?.CoQuanQuanLy}}</td>
            <td (click)="viewdetai(detai?.Id)">{{detai?.SoThanhVien}}</td>
            <td (click)="viewdetai(detai?.Id)">{{detai?.TinhTrang}}</td>
            <td (click)="viewdetai(detai?.Id)">{{detai?.NamHoc}}</td>
            <td (click)="viewdetai(detai?.Id)">{{detai?.KiHoc}}</td>
            <td>
              <mat-icon (click)="editdetai(detai?.Id)"
                class="mat-18" title="Sửa thông tin"
                titlePosition="below" style="cursor: pointer;">edit
              </mat-icon>
              <mat-icon (click)="deletedetai(detai?.Ten, detai?.Id)"
                class="mat-18" title="Xóa đề tài"
                style="cursor: pointer;">delete
              </mat-icon>
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="listDeTai?.length === 0" class="non-result">Không có kết quả tìm kiếm</div>
    </div>
  </div>
  <mat-paginator (page)="pageSizeChange($event)" *ngIf="totalItems > 0" [length]="totalItems" [pageIndex]="pageNumber"
    [pageSizeOptions]="[10, 25, 50, 100]" [pageSize]="pageSize" class="paginator"></mat-paginator>
</div>
