.list-users {
    list-style: none;
    position: absolute;
    background: #ffffff;
    z-index: 99;
    width: 300px;
    height: auto;
    border: 1px solid #1ab394;
    line-height: 25px;
    padding: 0;
  }

  .list-users > li {
    padding-left: 15px;
  }

  .list-users > li:hover {
    cursor: pointer;
    background: #1ab394;
  }


