/* You can add global styles to this file, and also import other style files */

@import "~ng-pick-datetime/assets/style/picker.min.css";


html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-size: 13px;
}

*:focus {
    outline: none !important;
    box-shadow: none !important;
}

.container-custom{
    padding: 60px 30px 30px;
}

// custom css table
.table-data{
    padding: 60px 30px 30px;
}

.table{
    font-weight: 100;
    color: #676a6c;
}

.table-container{
    margin-top: 10px;
}

th{
    border-bottom: 2px solid #e0e0e0;
    font-weight: 500;
    color: black;
    vertical-align: bottom;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 14px;
    transition: all .3s ease;
}

.toolbar{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.my-btn{
    margin-left: 10px;
    height: 35px;
}

.with-auto{
    width: auto;
    margin-left: 10px;
}

// custom css dialog
.mat-dialog-container{
    box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
    background: #ffffff;
    color: #676a6c;
}


// change css tab active
.mat-tab-label-active {
    border: 1px solid #a9a9a933;
}

.mat-tab-body-content {
    overflow: hidden !important;
}

.mat-tab-label{
    color: black;
}

.block{
    display: block;
}

.my-icon{
    font-size: 80px;
    text-align: center;
    font-weight: 700;
    font-family: inherit;
    margin-bottom: 0px;
}

.my-icon-sm{
    font-size: 60px;
    text-align: center;
    font-weight: 700;
    font-family: inherit;
    margin-bottom: 0px;
}