<!-- Wrapper-->
<div id="wrapper">

    <!-- Left navigation bar -->
    <app-navigation></app-navigation>
  
    <!-- Main page wrapper -->
    <div class="gray-bg" id="page-wrapper">
  
      <!-- Top navigation -->
      <app-topnavbar></app-topnavbar>
  
      <!-- Main view/routes wrapper-->
      <div style="padding-top: 40px">
        <router-outlet></router-outlet>
      </div>
      
  
      <!-- Footer -->
      <app-footer></app-footer>
  
    </div>
    <!-- End page wrapper-->
  
  </div>
  <!-- End wrapper-->
  