.sidebar-color{
    background-color: #2f4050;
    color: #a7b1c2;
}

.active{
    color: #000!important;
    background-color: #ccc!important;
}

.my-icon{
    font-size: 80px;
    text-align: center;
    font-weight: 700;
    font-family: inherit;
    margin-bottom: 0px;
}

a:hover{
    text-decoration: none;
}

a{
    margin: 5px 0px;
}