.sidebar-color{
    background-color: #2f4050;
    color: #a7b1c2;
}

.active{
    color: #000!important;
    background-color: #ccc!important;
}

a:hover{
    text-decoration: none;
}

a{
    margin: 5px 0px;
}

.nav-label{
    font-size: 14px;
    font-weight: 600;
}