<div class="container-custom">
    <div class="row">

        <div class="col-md-2">
            <p class="my-icon-sm">SA+</p>
        </div>

        <div class="col-md-3 infor">
            <label class="block">Tên sach: {{sach?.Ten}}</label>
            <label class="block">Mã sach: {{sach?.Ma}}</label>
            <button (click)="openDialog('sach', sach?.Id)"
                class="btn btn-primary btn-tv">Thêm thành viên
            </button>
        </div>

        <div class="col-md-7">
            <h4 class="text-center">Danh sách giáo viên tham gia</h4>
            <div class="column">
                <div class="table-container">
                  <table class="table table-striped table-hover">
                    <thead>
                      <tr>
                        <th>STT</th>
                        <th>Mã giáo viên</th>
                        <th>Tên giáo viên</th>
                        <th>Số trang viết</th>
                        <th>Thao tác</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="listGiaoVien?.length > 0">
                      <tr *ngFor="let giaovien of listGiaoVien; let i = index;">
                        <td (click)="viewgiaovien(giaovien?.Id)">{{(i + 1) }}</td>
                        <td (click)="viewgiaovien(giaovien?.Id)">{{giaovien?.Ma}}</td>
                        <td (click)="viewgiaovien(giaovien?.Id)">{{giaovien?.Ten}}</td>
                        <td (click)="viewgiaovien(giaovien?.Id)">{{giaovien?.SoTrangDaViet}}</td>
                        <mat-icon (click)="openDialog('update-sach', giaovien?.IdGVSA, giaovien?.Ten, giaovien?.SoTrangDaViet)"
                            class="mat-18" title="Sửa thông tin"
                            titlePosition="below" style="cursor: pointer;">edit
                          </mat-icon>
                          <mat-icon (click)="openDialogDelete('sach', giaovien?.IdGVSA)"
                            class="mat-18" title="Xóa thành viên"
                            style="cursor: pointer;">delete
                          </mat-icon>
                      </tr>
                    </tbody>
                  </table>
                  <div *ngIf="listGiaoVien?.length === 0" class="non-result">Không có kết quả tìm kiếm</div>
                </div>
              </div>
        </div>

    </div>
</div>
