<div class="table-data">
    <div class="toolbar">

      <select class="form-control with-auto" (change)="onBoMonChange($event.target.value)">
        <option selected value="">Bộ môn</option>
        <option *ngFor="let bomon of listBoMon" [value]="bomon?.Id">{{bomon?.Ten}}</option>
      </select>

      <button (click)="openDialog('create')"
        class="btn btn-primary my-btn">Thêm giáo viên
      </button>

    </div>
  
    <div class="column">
      <div class="table-container">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>STT</th>
              <th>Mã giáo viên</th>
              <th>Tên giáo viên</th>
              <th>Bộ môn</th>
              <th>Địa chỉ</th>
              <th>Ngày sinh</th>
              <th>Email</th>
              <th style="min-width: 100px">Thao tác</th>
            </tr>
          </thead>
          <tbody *ngIf="listGiaoVien?.length > 0">
            <tr *ngFor="let giaovien of listGiaoVien; let i = index;"
             style="cursor: pointer;">
              <td (click)="viewgiaovien(giaovien?.Id)">{{pageNumber * pageSize + (i + 1) }}</td>
              <td (click)="viewgiaovien(giaovien?.Id)">{{giaovien?.Ma}}</td>
              <td (click)="viewgiaovien(giaovien?.Id)">{{giaovien?.Ten}}</td>
              <td (click)="viewgiaovien(giaovien?.Id)">{{giaovien?.BoMon.Ten}}</td>
              <td (click)="viewgiaovien(giaovien?.Id)">{{giaovien?.DiaChi}}</td>
              <td (click)="viewgiaovien(giaovien?.Id)">{{giaovien?.NgaySinh | date: 'dd/MM/yyyy'}}</td>
              <td (click)="viewgiaovien(giaovien?.Id)">{{giaovien?.Email}}</td>
              <td>
                <mat-icon (click)="openDialog('update', giaovien?.Id)"
                  class="mat-18" title="Sửa thông tin"
                  titlePosition="below" style="cursor: pointer;">edit
                </mat-icon>
                <mat-icon (click)="openDialog('delete', giaovien?.Id)"
                  class="mat-18" title="Xóa giáo viên"
                  style="cursor: pointer;">delete
                </mat-icon>
              </td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="listGiaoVien?.length === 0" class="non-result">Không có kết quả tìm kiếm</div>
      </div>
    </div>
    <mat-paginator (page)="pageSizeChange($event)" *ngIf="totalItems > 0" [length]="totalItems" [pageIndex]="pageNumber"
      [pageSizeOptions]="[10, 25, 50, 100]" [pageSize]="pageSize" class="paginator"></mat-paginator>
  </div>
  